body{
    background-color: beige;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
}

#project_name{
    color: black;
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    background-color: coral;
    padding: 20px;
    margin: 120px;
}

#greetingDisplay{
    color: white;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}